{% extends "layout.html" %}


{% block content %}
<div id="wrapper">
   {% include 'sidebar.html' %}

   <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
         {% include 'navbar.html' %}

         <div class="container-fluid">
            <br><br>
            {% if files %}
            <div class="row">
               {% for f in files %}
               <div class="col-lg-3 file-card" id="{{ f.id }}">
                  <div class="card shadow mb-4">
                     <a href="/editor/{{ f.id }}">
                        <div class="card-header py-3 ">
                           <h6 class="m-0 font-weight-bold text-primary">{{ f.file_name }}</h6>

                        </div>
                        <div class="card-body">{{ f.file_content[:100] | safe }}</div>
                     </a>
                     <div class="card-footer d-flex flex-row align-items-center justify-content-between">
                        {{ f.modified.strftime('%d %b %Y %I:%M') }}
                        <button class="fas fa-trash btn delete-file" style="color: rgb(255, 145, 145);"
                           value="{{ f.id }}"></button>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            {% else %}
            <h1 class="h3 mb-4 text-gray-800">No Files</h1>
            {% endif %}
         </div>

      </div>

   </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
</a>
{% endblock %}

{% block additionalscripts %}
<script src="{{ url_for('static',filename='js/file.js') }}"></script>
{% endblock %}