{% extends "layout.html" %}

{% block pagestyles %}
<link href="{{ url_for('static',filename='css/editor.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="wrapper">
   {% include 'sidebar.html' %}

   <div id="content-wrapper">
      <div id="content">
         {% include 'navbar.html' %}
         <div class="container-fluid">
            <div class="document-editor">
               <div class="document-editor__editable-container">
                  <div class="document-editor__editable"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block additionalscripts %}
<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/decoupled-document/ckeditor.js"></script>
<script src="{{ url_for('static',filename='js/editor.js') }}"></script>
{% endblock %}