<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="{{ url_for('static',filename='css/app-styles.min.css') }}" rel="stylesheet" type="text/css" />
  {% block pagestyles %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='js/app-scripts.min.js') }}"></script>
  {% block additionalscripts %}{% endblock %}
</body>

</html>