<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('main_bp.documents') }}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Document Editor</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Profile</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">My Account</a>
                <a class="collapse-item" href="#">Settings</a>
                <a class="collapse-item" href="#">Activity Log</a>
                <a class="collapse-item" href="{{ url_for('main_bp.logout') }}">Log Out</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main_bp.editor')}}">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Editor</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main_bp.documents')}}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Documents</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main_bp.logout')}}">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Log Out</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="make-content-sortable">scroll</button>
    </div> -->

</ul>